@import "../0_base/mixin";

/*------------------------------------------------------------
mmr400-4
------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
