@charset "UTF-8";
/*------------------------------------------------------------
	font
------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-all;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  color: #3E3A39;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans Japanese', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
  height: auto;
}

.sp-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

/*------------------------------------------------------------
header
------------------------------------------------------------*/
.l-headPC {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f2f2f2;
  border-bottom: 1px solid #F3CDCD;
}

@media screen and (max-width: 767px) {
  .l-headPC {
    display: none !important;
  }
}

.l-headPC__wrapper {
  height: 64px;
  border-bottom: 1px solid #D03736;
  width: 100%;
}

/*
------------------------------------------------------------*/
.c-headPC {
  height: 64px;
  width: 980px;
  margin: 0 auto;
}

.c-headPC a {
  text-decoration: none;
}

.c-headPC h1 {
  margin: 18px 15px 0 0px;
  width: 345px;
  float: left;
}

.c-headPC__menu {
  height: 64px;
  float: right;
  font-size: 1.4rem;
}

.c-headPC > ul > li {
  width: auto;
  height: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 21px;
}

.c-headPC > ul > li:first-child {
  margin-left: 0;
}

.c-headPC > ul > li a {
  color: #231815;
}

.c-headPC > ul > li > a {
  display: block;
  height: 64px;
  line-height: 64px;
  text-align: center;
  background-position: center 200px;
}

.c-headPC > ul > li:hover > a {
  background-image: url(../image/common/img_04.jpg);
  background-repeat: repeat-x;
  background-position: center bottom;
  color: #ACACAD;
  -webkit-transition: all 0.1s linear 0.3s;
  transition: all 0.1s linear 0.3s;
}

.c-headPC__wrap {
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  height: auto;
  text-align: left;
  background: #fafafa;
  display: none;
}

.c-headPC__inner {
  width: 1002px;
  height: 180px;
  line-height: 1.5em;
  text-align: center;
  margin: 0 auto;
}

.c-headPC .hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.c-headPC .hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #CE3436;
  height: 3px;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.c-headPC .hvr-underline-reveal.is-active:before, .c-headPC .hvr-underline-reveal:hover:before, .c-headPC .hvr-underline-reveal:focus:before, .c-headPC .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.c-headPC .hvr-underline-reveal.is-active {
  color: #BBB;
}

.c-headPC .hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 5px transparent;
          box-shadow: 0 0 5px transparent;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.c-headPC .hvr-float:hover, .c-headPC .hvr-float:focus, .c-headPC .hvr-float:active {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
      transform: translateY(-4px);
}

/*
------------------------------------------------------------*/
.c-headPC1 {
  padding-top: 30px;
}

.c-headPC1 ul {
  *zoom: 1;
  padding-left: 30px;
}

.c-headPC1 ul:after {
  display: block;
  content: "";
  clear: both;
}

.c-headPC1 li {
  float: left;
  margin-left: 40px;
  width: 200px;
}

.c-headPC1 li:nth-child(1) {
  clear: left;
  margin-left: 0;
}

.c-headPC1 a {
  line-height: 1;
  font-size: 1.3rem;
}

.c-headPC1 a:hover {
  text-decoration: underline;
}

.c-headPC1 img {
  margin-bottom: 6px;
}

/*
------------------------------------------------------------*/
.c-headPC2 {
  padding-top: 25px;
}

.c-headPC2 ul {
  *zoom: 1;
  display: table;
  width: 100%;
  border-right: 1px solid #CCC;
}

.c-headPC2 ul:after {
  display: block;
  content: "";
  clear: both;
}

.c-headPC2 li {
  text-align: center;
  display: table-cell;
  border-left: 1px solid #CCC;
  height: 140px;
  width: 200px;
  position: relative;
}

.c-headPC2 li:nth-child(5) img {
  width: 150px;
  height: auto;
  margin-top: 20px;
}

.c-headPC2 span {
  font-size: 1.3rem;
  line-height: 1;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
}

.c-headPC2 a:hover span {
  text-decoration: underline;
}

/*
------------------------------------------------------------*/
.c-headPC3 {
  padding-top: 40px;
  padding-left: 20px;
}

.c-headPC3 ul {
  *zoom: 1;
}

.c-headPC3 ul:after {
  display: block;
  content: "";
  clear: both;
}

.c-headPC3 li {
  float: left;
  margin: 0 0 15px 0;
  width: 25%;
  text-align: left;
}

.c-headPC3 a {
  font-size: 1.3rem;
  line-height: 1.2;
}

.c-headPC3 a:hover {
  text-decoration: underline;
}

/*------------------------------------------------------------
header SP
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.l-headSP {
  background: #f2f2f2;
  border-bottom: 1px solid #D03736;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

/*
------------------------------------------------------------*/
.c-headSP {
  height: 45px;
}

.c-headSP__wrap {
  display: table;
  width: 100%;
}

.c-headSP__logo, .c-headSP__menu {
  display: table-cell;
  vertical-align: middle;
}

.c-headSP__logo {
  padding: 10px 0 10px 12px;
}

.c-headSP__menu {
  padding: 10px 8px 10px 12px;
  cursor: pointer;
}

.c-headSP .menuicon {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: relative;
  width: 25px;
  height: 22px;
  cursor: pointer;
}

.c-headSP .menuicon span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  cursor: pointer;
}

.c-headSP .menuicon span:nth-of-type(1) {
  top: 0;
}

.c-headSP .menuicon span:nth-of-type(2) {
  top: 9px;
}

.c-headSP .menuicon span:nth-of-type(3) {
  bottom: 0;
}

.c-headSP .menuicon.is-open span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
      -ms-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

.c-headSP .menuicon.is-open span:nth-of-type(2) {
  opacity: 0;
}

.c-headSP .menuicon.is-open span:nth-of-type(3) {
  -webkit-transform: translateY(-9px) rotate(45deg);
      -ms-transform: translateY(-9px) rotate(45deg);
          transform: translateY(-9px) rotate(45deg);
}

/*
------------------------------------------------------------*/
.c-headSP-submenu {
  position: absolute;
  display: none;
  width: 100%;
  z-index: 200;
  border-top: 1px solid #D03736;
  font-size: 1.2rem;
}

.c-headSP-submenu__inner {
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 45px;
}

.c-headSP-submenu__block {
  background: #FFF;
}

.c-headSP-submenu p {
  border-bottom: 1px solid #CCC;
  background: url("../image/common/icon_01.png") 98% 47% no-repeat;
  -webkit-background-size: 11px 11px;
          background-size: 11px;
  padding: 12px 0 12px 12px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .c-headSP-submenu p.is-open {
    background: url("../image/common/icon_02.png") 98% 47% no-repeat;
    -webkit-background-size: 11px 11px;
            background-size: 11px;
  }
}

.c-headSP-submenu ul {
  display: none;
}

.c-headSP-submenu li {
  border-bottom: 1px solid #CCC;
}

.c-headSP-submenu li a {
  display: block;
  line-height: 1;
  padding: 12px 0 12px 32px;
  background: url("../image/common/icon_03.png") 20px 47% no-repeat;
  -webkit-background-size: 6px auto;
          background-size: 6px auto;
  color: #333;
  text-decoration: none;
}

.c-headSP-submenu .u-search {
  border-bottom: 1px solid #CCC;
}

.c-headSP-submenu .u-search a {
  display: block;
  padding: 8px 0 10px 12px;
}

/*------------------------------------------------------------
footer PC
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.l-footer {
  background-color: #f2f2f2;
  font-size: 1.1rem;
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 10px;
  border-top: 1px solid #CCC;
  border-bottom: 5px solid #DF0615;
  line-height: 2.5;
}

.l-footer__inner {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.l-footer a {
  color: #3e3a39;
  text-decoration: none;
}

/* copy
------------------------------------------------------------*/
/* sitemap 1
------------------------------------------------------------*/
.p-foot1 {
  *zoom: 1;
  margin-top: 20px;
}

.p-foot1:after {
  display: block;
  content: "";
  clear: both;
}

.p-foot1 ul {
  float: left;
}

.p-foot1 ul:nth-child(1) {
  width: 150px;
}

.p-foot1 ul:nth-child(2) {
  width: 150px;
}

.p-foot1 ul:nth-child(3) {
  width: 130px;
}

.p-foot1 ul:nth-child(4) {
  width: 140px;
}

.p-foot1 ul:nth-child(5) {
  width: 130px;
}

.p-foot1 a.u-title {
  font-weight: bold;
}

/* search
------------------------------------------------------------*/
.p-foot2 {
  position: absolute;
  right: 0;
  top: 25px;
}

.p-foot2 ul {
  *zoom: 1;
}

.p-foot2 ul:after {
  display: block;
  content: "";
  clear: both;
}

.p-foot2 li {
  float: left;
}

.p-foot2 li:nth-child(2) {
  padding-top: 5px;
  margin-left: 20px;
}

/* banner
------------------------------------------------------------*/
.p-foot3 {
  position: absolute;
  right: 0;
  top: 115px;
}

.p-foot3 ul {
  *zoom: 1;
}

.p-foot3 ul:after {
  display: block;
  content: "";
  clear: both;
}

.p-foot3 li {
  text-align: right;
  margin-top: 10px;
}

.p-foot3 li:last-child {
  margin-top: 15px;
}

/* sitemap 2
------------------------------------------------------------*/
.p-foot4 {
  margin-top: 30px;
}

.p-foot4 ul {
  *zoom: 1;
}

.p-foot4 ul:after {
  display: block;
  content: "";
  clear: both;
}

.p-foot4 li {
  float: left;
  line-height: 1;
  margin: 0 0 10px 0;
  padding: 0 9px;
  border-left: 1px solid #333;
}

.p-foot4 li:nth-child(4), .p-foot4 li:last-child {
  border-right: 1px solid #333;
}

.p-foot4 li:nth-child(5) {
  clear: left;
}

.p-foot4 a {
  font-size: 1.3rem;
}

/* language
------------------------------------------------------------*/
.p-foot5 {
  margin-top: 10px;
}

.p-foot5 li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px 0 0;
  font-size: 1.2rem;
}

.p-foot5 img {
  vertical-align: middle;
}

/* copyright
------------------------------------------------------------*/
.p-foot6 {
  *zoom: 1;
  margin-top: 10px;
}

.p-foot6:after {
  display: block;
  content: "";
  clear: both;
}

.p-foot6__copy {
  float: left;
}

.p-foot6__logo {
  float: right;
  width: 140px;
}

/*------------------------------------------------------------
footer SP
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.l-footerSP {
  background-color: #f2f2f2;
  font-size: 1.1rem;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: 1px solid #CCC;
  border-bottom: 3px solid #DF0615;
}

.l-footerSP a {
  color: #3e3a39;
  text-decoration: none;
}

/* sitemap1
------------------------------------------------------------*/
.p-footSP1 {
  margin-top: 15px;
  padding: 0 10px;
}

.p-footSP1 p {
  border-bottom: 1px solid #CCC;
  background: url("../image/common/icon_01.png") 98% 47% no-repeat;
  -webkit-background-size: 11px 11px;
          background-size: 11px;
  padding: 12px 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .p-footSP1 p.is-open {
    background: url("../image/common/icon_02.png") 98% 47% no-repeat;
    -webkit-background-size: 11px 11px;
            background-size: 11px;
  }
}

.p-footSP1 ul {
  display: none;
}

.p-footSP1 li {
  border-bottom: 1px solid #CCC;
}

.p-footSP1 a {
  display: block;
  line-height: 1;
  padding: 12px 0 12px 10px;
}

/* 
------------------------------------------------------------*/
.p-footSP2 {
  padding: 0 10px;
}

.p-footSP2 a {
  display: block;
  padding: 5px 0 7px 10px;
}

/* 
------------------------------------------------------------*/
.p-footSP3 {
  border-bottom: 1px solid #CCC;
}

.p-footSP3 ul {
  border-top: 1px solid #CCC;
  display: table;
  width: 100%;
}

.p-footSP3 li {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  line-height: 1.3;
}

.p-footSP3 li:nth-child(2) {
  border-left: 1px solid #CCC;
}

.p-footSP3 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.6em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.p-footSP3 span {
  background: url("../image/common/icon_03.png") 0 47% no-repeat;
  -webkit-background-size: 5px auto;
          background-size: 5px auto;
  display: inline-block;
  padding-left: 10px;
}

.p-footSP3__youtube, .p-footSP3__lang {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.p-footSP3__youtube a, .p-footSP3__lang a {
  height: auto;
  padding-left: 0;
}

.p-footSP3__youtube img, .p-footSP3__lang img {
  vertical-align: middle;
}

.p-footSP3__lang a {
  display: inline-block;
}

.p-footSP3__lang img {
  margin-right: 12px;
}

/* 
------------------------------------------------------------*/
.p-footSP4 {
  margin-top: 30px;
  padding: 0 5px;
}

.p-footSP4 ul {
  display: table;
  width: 100%;
}

.p-footSP4 li {
  display: table-cell;
  padding: 0 5px;
}

/* 
------------------------------------------------------------*/
.p-footSP5 {
  padding: 20px 10px 0 10px;
}

.p-footSP5__logo {
  text-align: center;
  margin-top: 10px;
}

.p-footSP5__logo img {
  max-width: 150px;
}

/*------------------------------------------------------------
side
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
layout
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
body {
  min-width: 1000px;
  padding-top: 64px;
}

@media screen and (max-width: 767px) {
  body {
    min-width: auto;
    padding-top: 45px;
    overflow: visible;
    height: auto;
  }
  body.is-open {
    overflow: hidden;
    height: 100%;
  }
}

/* wrapper
------------------------------------------------------------*/
.l-contents {
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .l-contents {
    margin-top: 30px;
  }
}

/* wrapper
------------------------------------------------------------*/
.l-wrapper {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .l-wrapper {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .l-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* container
------------------------------------------------------------*/
.l-container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .l-container {
    width: auto;
  }
}

/* column
------------------------------------------------------------*/
.l-col {
  *zoom: 1;
}

.l-col:after {
  display: block;
  content: "";
  clear: both;
}

.l-col__card {
  float: left;
  margin: 0 0 30px 40px;
}

.l-col--2 .l-col__card {
  width: 480px;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .l-col--2 .l-col__card {
    float: none;
    width: auto;
    margin: 0 0 0 0;
  }
}

.l-col--2 .l-col__card:nth-child(2n+1) {
  clear: left;
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .l-col--2 .l-col__card:nth-child(2n+1) {
    clear: none;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .l-col--2 .l-col__card:nth-child(2) {
    margin-top: 15px;
  }
}

.l-col--leftNarrow .l-col__card:nth-child(1) {
  width: 280px;
}

@media screen and (max-width: 767px) {
  .l-col--leftNarrow .l-col__card:nth-child(1) {
    width: auto;
  }
}

.l-col--leftNarrow .l-col__card:nth-child(2) {
  width: 680px;
}

@media screen and (max-width: 767px) {
  .l-col--leftNarrow .l-col__card:nth-child(2) {
    width: auto;
  }
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/* 1
------------------------------------------------------------*/
.c-title1 h1, .c-title1 h2, .c-title1 h3, .c-title1 h4, .c-title1 h5, .c-title1 h6, .c-title1 p {
  text-align: center;
  line-height: 1.3;
  font-size: 3.5em;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .c-title1 h1, .c-title1 h2, .c-title1 h3, .c-title1 h4, .c-title1 h5, .c-title1 h6, .c-title1 p {
    font-size: 1.6rem;
  }
}

/* 2
------------------------------------------------------------*/
.c-title2 h1, .c-title2 h2, .c-title2 h3, .c-title2 h4, .c-title2 h5, .c-title2 h6, .c-title2 p {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 8px;
  font-size: 3.5em;
  color: #666;
  line-height: 1.3;
  font-weight: normal;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .c-title2 h1, .c-title2 h2, .c-title2 h3, .c-title2 h4, .c-title2 h5, .c-title2 h6, .c-title2 p {
    font-size: 1.6rem;
    margin-bottom: 30px;
  }
}

.c-title2 img {
  vertical-align: baseline;
  margin: 0 10px -3px 0;
}

/* 3
------------------------------------------------------------*/
.c-title3 h1, .c-title3 h2, .c-title3 h3, .c-title3 h4, .c-title3 h5, .c-title3 h6, .c-title3 p {
  line-height: 1.5;
  font-size: 2.0em;
}

@media screen and (max-width: 767px) {
  .c-title3 h1, .c-title3 h2, .c-title3 h3, .c-title3 h4, .c-title3 h5, .c-title3 h6, .c-title3 p {
    font-size: 1.2rem;
  }
}

/* 4
------------------------------------------------------------*/
.c-title4 {
  line-height: 1;
}

.c-title4 span {
  font-size: 1.0rem;
  font-weight: normal;
  letter-spacing: 2px;
}

.c-title4 h2 {
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 4px;
}

/* 5
------------------------------------------------------------*/
.c-title5 {
  margin-bottom: 10px;
}

.c-title5 h1, .c-title5 h2, .c-title5 h3, .c-title5 h4, .c-title5 h5, .c-title5 h6 {
  font-size: 2.0rem;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .c-title5 h1, .c-title5 h2, .c-title5 h3, .c-title5 h4, .c-title5 h5, .c-title5 h6 {
    font-size: 1.2rem;
  }
}

.c-title5 img {
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
}

/* 6
------------------------------------------------------------*/
.c-title6 {
  margin-bottom: 20px;
}

.c-title6__img {
  float: left;
  width: 70px;
}

.c-title6__text {
  margin-left: 80px;
}

.c-title6 h1, .c-title6 h2, .c-title6 h3, .c-title6 h4, .c-title6 h5, .c-title6 h6 {
  font-size: 2.0rem;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  .c-title6 h1, .c-title6 h2, .c-title6 h3, .c-title6 h4, .c-title6 h5, .c-title6 h6 {
    font-size: 1.2rem;
  }
}

.c-title6 span {
  font-size: 1.4rem;
  display: inline-block;
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .c-title6 span {
    font-size: 1.2rem;
  }
}

/*------------------------------------------------------------
table
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/* 1
------------------------------------------------------------*/
.c-list1 {
  *zoom: 1;
}

.c-list1:after {
  display: block;
  content: "";
  clear: both;
}

.c-list1__card {
  float: left;
  margin: 0 0 30px 40px;
}

.c-list1--col2 .c-list1__card {
  width: 482px;
  margin: 0 0 16px 16px;
}

@media screen and (max-width: 767px) {
  .c-list1--col2 .c-list1__card {
    width: 49%;
    margin-left: 2%;
    margin-bottom: 15px;
  }
}

.c-list1--col2 .c-list1__card:nth-child(2n+1) {
  clear: left;
  margin-left: 0;
}

.c-list1--col3 .c-list1__card {
  width: 315px;
  margin-left: 17px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .c-list1--col3 .c-list1__card {
    width: 49%;
    margin-left: 2%;
    margin-bottom: 15px;
  }
}

.c-list1--col3 .c-list1__card:nth-child(3n+1) {
  clear: left;
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .c-list1--col3 .c-list1__card:nth-child(3n+1) {
    clear: none;
    margin-left: 2%;
  }
}

@media screen and (max-width: 767px) {
  .c-list1--col3 .c-list1__card:nth-child(2n+1) {
    clear: left;
    margin-left: 0;
  }
}

.c-list1--col4 .c-list1__card {
  width: 230px;
  margin-left: 26px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .c-list1--col4 .c-list1__card {
    width: 49%;
    margin-left: 2%;
    margin-bottom: 15px;
  }
}

.c-list1--col4 .c-list1__card:nth-child(4n+1) {
  clear: left;
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .c-list1--col4 .c-list1__card:nth-child(4n+1) {
    clear: none;
    margin-left: 2%;
  }
}

@media screen and (max-width: 767px) {
  .c-list1--col4 .c-list1__card:nth-child(2n+1) {
    clear: left;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .c-list1--spcol1 .c-list1__card {
    text-align: center;
    width: 100%;
    float: none;
    margin-left: 0;
  }
}

.c-list1__img img {
  width: 100%;
  height: auto;
}

.c-list1__text {
  margin-top: 15px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .c-list1__text {
    margin-top: 10px;
  }
}

.c-list1__title {
  font-weight: bold;
  font-size: 2.0rem;
}

@media screen and (max-width: 767px) {
  .c-list1__title {
    font-size: 1.2rem;
  }
}

.c-list1__body {
  margin-top: 8px;
  font-size: 1.4rem;
  line-height: 1.7;
}

@media screen and (max-width: 767px) {
  .c-list1__body {
    margin-top: 4px;
    font-size: 1.0rem;
  }
}

/* 2
------------------------------------------------------------*/
.c-list2 {
  *zoom: 1;
  text-align: center;
  margin-top: 60px;
}

.c-list2:after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 767px) {
  .c-list2 {
    margin-top: 20px;
  }
}

.c-list2__card {
  display: inline-block;
  margin-left: 60px;
}

.c-list2__card:nth-child(1) {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .c-list2__card {
    width: 49%;
    float: left;
    margin-left: 2%;
    margin-bottom: 15px;
  }
  .c-list2__card:nth-child(2n+1) {
    margin-left: 0;
    clear: left;
  }
}

.c-list2--col1 .c-list2__card {
  float: none;
}

.c-list2 a {
  text-decoration: none;
  color: #3E3A39;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.c-list2__text {
  margin-top: -6px;
}

.c-list2__text p {
  line-height: 1.4;
}

/* 3
------------------------------------------------------------*/
/* 4
------------------------------------------------------------*/
/* 5
------------------------------------------------------------*/
/*------------------------------------------------------------
entry
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/* 1
------------------------------------------------------------*/
.c-navi1 {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .c-navi1 {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .c-navi1 {
    margin-top: 30px;
    padding: 0 10px;
  }
}

.c-navi1 ul {
  display: table;
  width: 100%;
  border-top: 1px solid #CCC;
}

@media screen and (max-width: 767px) {
  .c-navi1 ul {
    display: block;
    *zoom: 1;
  }
  .c-navi1 ul:after {
    display: block;
    content: "";
    clear: both;
  }
}

.c-navi1 li {
  display: table-cell;
  width: 25%;
}

@media screen and (max-width: 767px) {
  .c-navi1 li {
    display: block;
    float: left;
    width: 50%;
  }
  .c-navi1 li:nth-child(2n+1) {
    clear: left;
  }
}

.c-navi1 a {
  text-decoration: none;
  color: #a3a3a3;
}

.c-navi1 div {
  text-align: center;
  padding: 40px 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .c-navi1 div {
    padding: 25px 0;
  }
}

.c-navi1 div:hover {
  opacity: 0.6;
}

.c-navi1 i {
  font-size: 4rem;
}

.c-navi1 p {
  color: #333;
  font-size: 1.2rem;
  margin-top: 6px;
}

/* 2
------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  .c-navi2 {
    position: absolute;
    width: 100%;
    display: none;
  }
}

.c-navi2 ul {
  display: table;
  border-top: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
}

@media screen and (max-width: 767px) {
  .c-navi2 ul {
    border: 0px;
    border-top: 1px solid #E0E0E0;
    display: block;
    background: #FFF;
  }
}

.c-navi2 li {
  display: table-cell;
  border-right: 1px solid #E0E0E0;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .c-navi2 li {
    border: 0px;
    display: block;
    border-bottom: 1px solid #CCC;
  }
}

.c-navi2 li.is-active {
  border-bottom: 1px solid #FFF;
}

@media screen and (max-width: 767px) {
  .c-navi2 li.is-active {
    border-bottom: 1px solid #CCC;
  }
}

.c-navi2 a {
  font-size: 1.1rem;
  color: #727171;
  text-decoration: none;
  display: block;
  line-height: 1.3;
  padding: 15px 20px 15px 20px;
}

@media screen and (max-width: 767px) {
  .c-navi2 a {
    padding: 15px 0 15px 10px;
  }
}

/*------------------------------------------------------------
slide
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/* 1
------------------------------------------------------------*/
.c-line1 {
  border-top: 1px solid #E0E0E0;
  line-height: 1;
  margin: 50px 0;
}

@media screen and (max-width: 767px) {
  .c-line1 {
    margin: 40px 0;
  }
}

.c-line1 hr {
  display: none;
}

/*------------------------------------------------------------
other
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
.c-titleBlock1 {
  background: url("../image/common/line_01.png") 0 bottom repeat-x;
  *zoom: 1;
  margin-top: 30px;
}

.c-titleBlock1:after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 767px) {
  .c-titleBlock1 {
    background: none;
    margin-bottom: 0;
    cursor: pointer;
    border-bottom: 1px solid #CCC;
  }
}

.c-titleBlock1__inner {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .c-titleBlock1__inner {
    width: auto;
  }
}

.c-titleBlock1 .c-title4 {
  float: left;
}

@media screen and (max-width: 767px) {
  .c-titleBlock1 .c-title4 {
    float: none;
    padding: 10px 0px 10px 10px;
    background: url("../image/common/icon_01.png") 98% 47% no-repeat;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .c-titleBlock1 .c-title4.is-open {
    background: url("../image/common/icon_02.png") 98% 47% no-repeat;
  }
}

.c-titleBlock1 .c-navi2 {
  float: right;
}

@media screen and (max-width: 767px) {
  .c-titleBlock1 .c-navi2 {
    float: none;
  }
}

/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/* plane text 1
------------------------------------------------------------*/
/* text block 1
------------------------------------------------------------*/
.c-textBlock1 {
  margin-top: 90px;
}

@media screen and (max-width: 767px) {
  .c-textBlock1 {
    margin-top: 40px;
  }
}

.c-textBlock1 p {
  text-align: center;
  margin-top: 30px;
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  .c-textBlock1 p {
    font-size: 1.2rem;
    margin-top: 8px;
  }
}

/* text block 2
------------------------------------------------------------*/
.c-textBlock2 + .c-textBlock2 {
  margin-top: 15px;
}

.c-textBlock2 p {
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .c-textBlock2 p {
    font-size: 1.2rem;
    margin-top: 5px;
  }
}

/*------------------------------------------------------------
img
------------------------------------------------------------*/
/* main visual 1
------------------------------------------------------------*/
.c-mainVisual1 {
  height: 446px;
  background: #F7F7F7;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

@media screen and (max-width: 767px) {
  .c-mainVisual1 {
    height: auto;
    padding: 0 40px;
    border-top: 0px;
  }
}

.c-mainVisual1__inner {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  display: table;
}

@media screen and (max-width: 767px) {
  .c-mainVisual1__inner {
    width: auto;
  }
}

.c-mainVisual1__title, .c-mainVisual1__img {
  display: table-cell;
  vertical-align: middle;
}

.c-mainVisual1__title {
  width: 340px;
  color: #231815;
  letter-spacing: 0.1em;
  padding-left: 140px;
}

@media screen and (max-width: 767px) {
  .c-mainVisual1__title {
    width: 10em;
    padding-left: 0;
  }
}

.c-mainVisual1__img img {
  width: auto;
  max-height: 445px;
}

@media screen and (max-width: 767px) {
  .c-mainVisual1__img img {
    max-height: initial;
    width: 100%;
  }
}

.c-mainVisual1 span {
  font-size: 2.0rem;
}

@media screen and (max-width: 767px) {
  .c-mainVisual1 span {
    font-size: 1.0rem;
  }
}

.c-mainVisual1 h2, .c-mainVisual1 h3, .c-mainVisual1 h4 {
  font-size: 3.6rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .c-mainVisual1 h2, .c-mainVisual1 h3, .c-mainVisual1 h4 {
    font-size: 1.6rem;
  }
}

.c-mainVisual1--bg1 {
  background: #000;
}

.c-mainVisual1--bg1 .c-mainVisual1__title {
  color: #FFF;
}

/* main visual 2
------------------------------------------------------------*/
.c-mainVisual2 img {
  width: 100%;
  height: auto;
}

/* single img 1
------------------------------------------------------------*/
.c-singleImg1 {
  text-align: center;
}

.c-singleImg1 p {
  text-align: center;
}

/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*  1
------------------------------------------------------------*/
.c-video1 {
  text-align: center;
  margin-top: 30px;
}

.c-video1 iframe {
  width: 450px;
  height: 300px;
}

@media screen and (max-width: 767px) {
  .c-video1 iframe {
    width: 100%;
    height: auto;
    min-height: 200px;
  }
}

/*------------------------------------------------------------
bredcrumbs
------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  .c-bredcrumbs {
    padding: 0 10px;
  }
}

.c-bredcrumbs ul {
  *zoom: 1;
}

.c-bredcrumbs ul:after {
  display: block;
  content: "";
  clear: both;
}

.c-bredcrumbs li {
  float: left;
  line-height: 100%;
}

.c-bredcrumbs li:after {
  content: "›";
  display: inline-block;
  vertical-align: middle;
  margin: -5px 7px 0 7px;
  font-size: 1.6rem;
}

.c-bredcrumbs li:last-child:after {
  content: "";
}

.c-bredcrumbs a {
  color: #3e3a39;
  text-decoration: none;
}

/*------------------------------------------------------------
for develop browser-sync
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  border-radius: 0 !important;
}

.c-sg-title1 {
  background: #000;
  color: #FFF;
  line-height: 1;
  padding: 6px 0 6px 15px;
  font-size: 1.6rem;
  margin: 60px 0 20px 0;
}

.c-sg-title2 {
  background: #888;
  color: #FFF;
  line-height: 1;
  padding: 6px 0 6px 30px;
  font-size: 1.3rem;
  margin: 50px 0 10px 0;
}

.c-devMessage1 {
  top: 0;
  left: 0;
  background: #F00;
  color: #FFF;
  z-index: 9999;
  position: fixed;
  line-height: 1;
  padding: 3px 6px;
  opacity: 0.6;
  font-size: 8px;
}
