/*------------------------------------------------------------
line
------------------------------------------------------------*/

/* 1
------------------------------------------------------------*/
.c-line1{
	border-top:1px solid #E0E0E0;
	line-height: 1;
	margin: 50px 0;
	@include breakpoint1 {
		margin: 40px 0;
	}

	hr{
		display: none;
	}
}